* {
    position: relative;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(69, 9, 81);
    overflow-x: hidden;
}

#home-page {
    color: white;
}

#home-bg {
    object-fit: cover;
    width: 100vw;
    height: 700px;
    left: 50%;
    transform: translateX(-50%);
}

nav {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    z-index: 1;
}

#nav-bar {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

#nav-bar li {
    display: inline;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.65);
}

#nav-first {
    border-start-start-radius: 25px;
    border-end-start-radius: 25px;
}

#nav-last {
    border-start-end-radius: 25px;
    border-end-end-radius: 25px;
}

#nav-bar li a {
    text-decoration: none;
    text-align: center;
    display: block;
    color: white;
    font-family: "Jaini Purva";
    font-size: 30px;
    padding: 0.5vw 1.5vw;
}

#nav-bar a:hover {
    background-color: rgb(112, 20, 9);
    border-radius: 20px;
}

.title { font-family:"Roboto Slab";}

#home-titles {
    position: absolute;
    width: 700px;
    top: 30%;
    left: 10%;
    display: flex;
    flex-direction: column;
}

#title-ahad-alkozai {
    font-size: 60px;
}

#title-cs-student {
    font-size: 30px;
}