* {
    position: relative;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(25, 4, 29);
    overflow-x: hidden;
}

#home-page {
    color: white;
}

#home-bg {
    object-fit: cover;
    width: 100vw;
    height: 700px;
    left: 50%;
    transform: translateX(-50%);
}

nav {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    z-index: 1;
}

#nav-bar {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

#nav-bar li {
    display: inline;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.65);
}

#nav-first {
    border-start-start-radius: 25px;
    border-end-start-radius: 25px;
}

#nav-last {
    border-start-end-radius: 25px;
    border-end-end-radius: 25px;
}

#nav-bar li a {
    text-decoration: none;
    text-align: center;
    display: block;
    color: white;
    font-family: "Jaini Purva";
    font-size: 30px;
    padding: 0.5vw 1.5vw;
}

#nav-bar a:hover {
    background-color: rgb(154, 31, 18);
    border-radius: 20px;
}

.title { font-family:"Roboto Slab";}

#home-titles {
    position: absolute;
    width: 700px;
    top: 30%;
    left: 10%;
    display: flex;
    flex-direction: column;
}

#title-ahad-alkozai {
    font-size: 60px;
}

#title-cs-student {
    font-size: 30px;
}

#project-page {
    color: white;
    height: 1000px;
}

#title-projects {
    position: absolute;
    top: 2.5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
}

#projects {
    /* border: 10px;
    border-color: black;
    border-style: solid; */

    display: grid;
    grid-template-rows: repeat(3, 400px);
    grid-template-columns: minmax(600px, 1000px);
    justify-content: center;
    grid-gap: 60px;
    top: 15%;
    
}

.project {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
}

.proj-header {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    top: 7%;
    left: 5%;
}

.proj-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    top: 9%;
    left: 5%;
    column-gap: 20px;
}

.proj-info {
    top: 4%;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
}

.proj-img {
    border-radius: 25px;
    width: 500px;
    bottom: 10%;
}

.proj-footer {
    display: flex;
    width: 180px;
    padding: 5px;
    border-style: solid;
    border-radius: 25px;
    left: 5%;
}

.github-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: "Roboto Slab";
    left: 4%;
}

.github-logo {
    width: 25px;
}

.proj-title {
    font-size: 25px;
}

.proj-made-with {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.proj-made-with-title {
    font-size: 17px;
    top: 5px;
}

.proj-logo {
    width: 35px;
    border-radius: 5px;
}

#dream-dimension-proj {
    background-image: linear-gradient( 135deg, #3B2667 10%, #BC78EC 100%);
    border-radius: 25px;
    font-size: 50px;
    .proj-footer {
        border-color: rgb(213, 166, 229);
        bottom: 5%;
    }
}

#my-web-proj {
    background-image: linear-gradient( 135deg, #F05F57 10%, #360940 100%);
    font-size: 50px;
    .proj-footer {
        border-color: rgb(229, 166, 166);
        width: 150px;
        bottom: 10%;
    }
}

#proj-2 {
    background-image: linear-gradient( 135deg, #79F1A4 10%, #0E5CAD 100%);
}