.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 1px solid red;
}

.section {
    margin-top: 6rem;
}

.glass--white {
    background-color: var(--clr-white-glass);
    border: 1px solid var(--clr-glass-border);
    box-shadow: 10px 10px 10px var(--clr-black-glass);
    backdrop-filter: blur(40px);
}

.glass--black {
    background-color: var(--clr-black-glass);
    border: 2px solid var(--clr-glass-border);
    box-shadow: 10px 10px 10px var(--clr-black-glass);
    backdrop-filter: blur(40px);
    
}

/* xs */
@media (min-width: 475px) {
    .container {
        max-width: 475px;
    }
}

/* sm */
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
    .section {
        margin-top: 6rem;
    }
}

/* md */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
    .section {
        margin-top: 7rem;
    }
}

/* lg */
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
    .section {
        margin-top: 8rem;
    }
}

/* xl */
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
    .section {
        margin-top: 9rem;
    }
}

/* 2xl */
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
    .section {
        margin-top: 10rem;
    }
}